@font-face {
    font-family: "Gotham-Bold";
    src: url("../fonts/Gotham-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gotham-Book";
    src: url("../fonts/Gotham-Book.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gotham-Light";
    src: url("../fonts/Gotham-Light.otf");
    font-weight: bold;
    font-style: normal;
}

.img-fluid {
    object-fit: contain;
}

#wrapper {
    position: relative;
}

.sub-navbar {
    background-color: white;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #132540;
    /*background-color: #111;*/
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.page-blocker {
    z-index: 999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.3);
}

.sidebar-menu {
    display: block;
    padding: 10px 20px 10px 20px;
}

b {
    font-family: Gotham-Bold;
}

.banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 350px;
}

.banner-no-background {
    min-height: unset;
}

.banner-homepage {
    background-image: url("../images/Home-Header-Image.jpg");
}
.banner-about {
    background-image: url("../images/About-Us-Header-Image.jpg");
}
.banner-product {
    background-image: url("../images/Prod_Serve-Header.jpg");
}
.banner-operations {
    background-image: url("../images/Operations-Page-Header.jpg");
}

.banner-contactus {
    background-image: url("../images/Contact-Us-Header.jpg");
}

.banner-news {
    background-image: url("../images/News-_-Media-Header.jpg");
}

.banner-history {
    background-image: url("../images/banner-turbine.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 200px;
}

.banner-contact {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/banner-contact.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 200px;
}

.banner-technology {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/banner-technology-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 300px;
}

.banner-applications {
    background-image: url("../images/banner-applications.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 200px;
}

.material-icons {
    color: #71b6d5;
}

.icon-row {
    display: inline-flex;
    flex-direction: row;
}

.header {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner-logo {
    display: none;
    text-align: right;
    width: 40%;
    flex: unset
}

.banner-tagline {
    width: 100%;
    flex: unset;
    padding-left: 30px;
    padding-top: 10px
}

.banner-text {
    text-align: left;
    margin: auto;
    color: #ffffff;
    padding-bottom: 120px;
    width: 80%;
}

.banner-text-contact {
    color: white;
    padding: unset;
}

.banner-text-applications {
    padding-bottom: unset;
    padding: 15px 0 15px 0;
}

.banner-text h1 {
    font-size: 1.562rem;
    font-family: Gotham-Light;
}

.banner-text h3 {
    font-size: 0.9rem;
    font-family: Gotham-Bold;
}

.contact-text {
    font-family: Gotham-Light;
    /*margin-bottom: 20px;*/
    text-align: left;
    font-size: 1.3rem;
}

.environment-text {
    margin-bottom: 20px;
}

.environment-header h1 {
    color: #f78c0d;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.btn {
    -webkit-transition: background .3s linear;
    font-family: Gotham-Bold;
    transition: background .3s linear;
    display: block;
    width: unset;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin: 0 auto;
    font-size: 0.9rem;
}

.btn-sub {
    font-family: Gotham-Bold;
    color: #fff;
}

.btn:hover, :focus, :checked {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.active {
    background: rgba(0, 0, 0, 0.3);
}

.dropdown-menu {
    top: 100%;
    width: 100%;
    min-width: unset;
    color: #b6afad;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
}


.dropdown-item {
    text-align: center;
    padding: unset;
}

.content-block {
    padding: 35px 0 35px 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.history {
    padding: 20px 0 20px 0;
}

.our-team-content {
    display: flex;
    flex-direction: column;
}

.our-team-text-column {
    display: inline-block;
    padding-bottom: 20px;
}

.our-team-content .our-team-text-img {
    width: 100px;
    float: left;
    margin-right: 15px;
    padding: unset;
}

.our-team-image-column {
    display: none;
    text-align: center;
}

.our-team-image-column img {
    width: 30%;
    padding-bottom: 15px;
}

.unordered-list {
    font-size: small;
}

.quote {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: Gotham-Book;
    text-align: center;
    padding: 30px 30px 30px 40px;
    border: 2px solid #71b6d5;
    font-style: italic;
    font-size: 1.1rem;
}

.quote h3 {
    font-size: 0.9rem;
    font-family: Gotham-Bold;
    font-style: normal;
}

.home-image-box {
    padding: 30px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.investor-image-box {
    justify-content: center;
}

.investor-image {
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 80%;
    min-width: 250px;
}

.investor-image img {
    width: 80%;
}

.home-image {
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 80%;
    min-width: 161px;
}

.home-image p {
    font-family: Gotham-Book;
    color: black;
    font-size: 1rem;
    margin-bottom: unset;
}

.home-image h3 {
    font-family: Gotham-Bold;
    color: #02a7d4;
    font-size: 1.5rem;
}

.home-image img {
    height: 141px;
    margin-bottom: 10px;
}

.contact-box {
    padding: 10px 10px 10px 10px;
    width: 80%;
}

.text-column {
    padding-bottom: 15px;
}

.text-column h1 {
    font-size: 1rem;
    text-align: left;
    font-family: Gotham-Bold;
}

.text-column h2 {
    font-size: 1rem;
    padding: 15px 0 15px 0;
    font-family: Gotham-Bold;
    text-align: justify;
}

.text-column h3 {
    font-size: 0.85rem;
    font-family: Gotham-Bold;
    text-align: justify;
}

.text-column p, .unordered-list p {
    font-size: 0.75rem;
    font-family: Gotham-Book;
    text-align: justify;
}

.text-column img {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 10px 0 15px 0;
}

.text-column h4 {
    color: #02a7d4;
    font-size: 1.05rem;
    text-align: justify;
    font-family: Gotham-Bold;
}

.text-column h5 {
    color: #f78c0d;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: justify;
    font-family: Gotham-Bold;
}

.chemistry-header h1 {
    /*color: #ec1319;*/
    color: #f78c0d;
}

.chemistry-header h3 {
    color: #f78c0d;
}

.home-article {
    margin: auto;
    margin-top: unset;
}

.media-video {
    margin: auto;
    margin-top: 40px;
    width: 480px;
}

.media-video-small {
    display: flex;
}

.media-video-medium {
    display: none;
}

.media-video-large {
    display: none;
}

.news-feed {
    margin-top: 30px;
}

.news-header h1 {
    color: #ec1319;
}

.contact {
    background: #57585c;
    padding: 30px 0;
    color: #fff;
}

.form-control {
    font-size: .875rem;
    border: none;
}

.form-control:focus {
    outline: none;
    border: none;
}

.form-control::-webkit-input-placeholder {
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
    opacity: 1;
}

.form-control::placeholder {
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
    opacity: 1;
}

.form-control:focus::-webkit-input-placeholder {
    opacity: 0;
}

.form-control:focus:-ms-input-placeholder {
    opacity: 0;
}

.form-control:focus::placeholder {
    opacity: 0;
}

.link {
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
    text-decoration: none;
    color: #fff;
    font-size: .875rem;
    font-weight: 300;
    letter-spacing: .02em;
}

.link:hover {
    opacity: .7;
    text-decoration: none;
    color: #fff;
}

.link h6 {
    text-transform: uppercase;
    margin-bottom: 17px;
}

.recent-block .icon {
    min-width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #fff;
    position: relative;
    margin-right: 20px;
}

.recent-block .icon span {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 30;
}

.recent-block .text {
    text-transform: uppercase;
    font-size: .875rem;
    line-height: 1.5em;
    margin-bottom: 40px;
}

.recent-block .text a {
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
    text-decoration: underline;
    color: #adb5bd;
}

.recent-block .text a:hover {
    opacity: .7;
}

.recent-block .twitter-wrap {
    margin-bottom: 25px;
}

.recent-block .share-block {
    font-size: .675rem;
    max-width: 60%;
    margin: 0 auto;
}

.recent-block .share-block a {
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
    text-decoration: none;
    color: #fff;
}

.recent-block .share-block a:hover {
    opacity: .7;
}

.recent-block .share-block .like {
    position: relative;
}

.recent-block .share-block .like .num {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    right: -12px;
    position: absolute;
}

.contact-page-info {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-page-box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.contact-page-box i {
    font-size: 2.5rem;
    padding-bottom: 10px;
}

.contact-page-box h2 {
    font-size: 1.2rem;
    font-family: Gotham-Bold;
}

.contact-page-box p {
    font-size: 0.8rem;
    font-family: Gotham-Book;
    color: #7c7770;
}

.contact-form {
    font-family: Gotham-Book;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.7rem;
}

.contact-form-sub {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.contact-form-main {
    width: 100%;
}

.contact-area {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: .75em 1rem;
    margin-bottom: 1rem;
    border: unset;
}

.contact-form-btn {
    border-radius: 10px;
    padding: .75em 1rem;
    margin-bottom: 1rem;
    border: unset;
    background-color: #71b6d5;
    color: white;
}

.contact-area:focus, .contact-area:focus {
    background-color: #b2b2b2;
    outline: unset;
}

.footer-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-contacts {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-icon-container {
    align-self: center;
}

.footer-contacts a, .footer-contacts a h3 {
    text-decoration: none;
    color: rgba(255,255,255, 1);
}

.footer-contacts a h3:hover, :checked {
    color: rgba(255,255,255, .7);
}

.footer-contact-us {
    margin-top: 20px;
}

.footer-icon {
    height: 32px;
    width: 32px;
    margin-right: 12px;
}

.footer-background {
    background: #434f58;
    text-align: left;
    font-size: .687rem;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: #fff;
    align-self: flex-start;
    flex-direction: row;
}

.footer-logo {
    text-align: center;
    padding-bottom: 10px;
}

.icon-row p {
    font-family: Gotham-Book;
    font-size: 1rem;
    padding: 5px;
}

.navbar {
    margin-left: auto;
    margin-right: auto;
    align-self: flex-start;
    flex-direction: row;
    width: 95%;
}

.navbar-bottom {
    width: 96%;
    border-bottom: 2px solid #f7931c;
}
.navbar-icon {
    position: inherit; 
    height: 40px; 
    bottom: -16.5px; 
    right: 3px;
  }

.navbar-logo {
    width: 100%;
    max-width: 232px;
}

.navbar-brand {
    width: 65%;
    max-width: 232px;
}

@media (min-width: 768px) {
    body {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 2.187rem;
    }

    h3,
    .h3 {
        font-size: 1.4em;
    }

    .sidebar-menu {
        display: block;
        padding: 10px 30px 10px 30px;
    }

    .navbar-brand {
        display: none;
    }
    .navbar {
        width: 95%;
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar-logo {
        width: unset;
    }

    .footer-information {
        width: 80%;
        flex-direction: row;
    }

    .footer-contact-icon {
        margin-left: 3rem;
    }

    .footer-contacts {
        text-align: left;
        align-items: flex-start;
    }

    .footer-icon-container {
        align-self: flex-start;
    }

    .contact-page-box {
        width: 50%;
    }

    .contact-text {
        margin-left: 3rem;
        font-size: 1.5rem;
    }

    .contact-form {
        width: 70%;
    }
    .contact-form-sub {
        width: 49%;
    }

    .banner-logo {
        display: flex;
        text-align: right;
        width: 40%;
        flex: unset
    }

    .banner-tagline {
        width: 60%;
        flex: unset;
        padding-left: 30px;
        padding-top: 10px
    }

    .banner-history {
        min-height: 350px;
    }

    .banner-contact {
        min-height: 350px;
    }

    .banner-technology {
        min-height: 428px;
    }

    .banner-applications {
        min-height: 428px;
    }

    .banner-homepage {
        min-height: 360px;
    }

    .banner-offerings {
        min-height: 456px;
    }

    .banner-solar {
        min-height: 560px;
        width: 100%;
        height: 100%;
    }

    /*.btn {*/
    /*    width: 100px;*/
    /*    font-size: 0.7rem;*/
    /*}*/

    .dropdown-menu {
        width: 100%;
    }

    .banner-text h1 {
        font-size: 1.9rem;
    }

    .banner-text h3 {
        font-size: 1.2rem;
    }

    .quote {
        padding: 40px 40px 40px 50px;
    }

    .media-video-small {
        display: none;
    }

    .media-video-medium {
        display: flex;
    }

    .media-video-large {
        display: none;
    }

    .content-block {
        padding: 50px 0 50px 0;
        width: 90%;
    }

    .history {
        padding: 20px 0 20px 0;
    }

    .home-image-box {
        flex-direction: row;
        padding: 40px 20px 40px 20px;
    }

    .investor-image {
        padding: 10px 20px 10px 20px;
        width: 50%;
    }

    .home-image {
        width: 50%;
    }

    .media-video {
        width: 700px;
    }

    .our-team-content .our-team-text-img {
        width: 140px;
    }

    .our-team-image-column-env {
        margin-right: 45px;
    }

    .text-column {
        padding: 0 0 30px 0
    }

    .text-column h1 {
        font-size: 1.2rem;
    }

    .text-column h2 {
        font-size: 1.2rem;
    }

    .text-column h3 {
        font-size: 1.1rem;
    }

    .text-column p, .unordered-list p {
        font-size: 1.1rem;
    }

    .text-column img {
        padding: 20px 0 40px 0;
    }

    .text-column h4 {
        font-size: 1.4rem;
    }

    .contact {
        padding: 40px 0;
    }

    .recent-block .share-block {
        max-width: 200px;
        margin: 0;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 2.812rem;
    }

    .btn {
        width: 150px;
        font-size: 0.8rem;
    }

    li .btn {
        width: unset;
    }

    .sidebar-menu {
        display: none;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-expand-lg .navbar-nav .about-us {
        padding-left: 38px;
        padding-right: 38px;
    }

    .navbar {
        flex-direction: row;
    }

    .navbar-brand {
        align-self: flex-start;
        margin-left: unset;
        margin-right: unset;
    }

    .investor-image {
        width: 33%;
    }

    .investor-image img {
        width: 75%;
    }

    .home-image {
        width: 25%;
    }

    .home-image h3 {
        font-size: 1.5rem;
    }

    .contact-page-box {
        width: 25%;
    }

    .contact-form {
        width: 60%;
    }

    .banner-text {
        margin-top: 35px;
        margin-bottom: 35px;
        padding-bottom: 70px;
    }

    .banner-text-applications {
        padding: 20px 0 20px 0;
        padding-bottom: unset;
    }

    .banner-text-contact {
        padding: unset;
    }

    .banner-text h1 {
        margin-bottom: 0.5rem;
        font-size: min(3.25vw, 2.812rem);
    }

    .banner-text h3 {
        font-size: 1.4rem;
    }

    .quote {
        font-size: 1.3rem;
    }

    .quote h3 {
        font-size: 0.9rem;
    }

    .content-block {
        padding: 90px 0 90px 0;
        width: 80%;
    }

    .history {
        padding: 30px 0 30px 0;
    }

    .media-video-small {
        display: none;
    }

    .media-video-medium {
        display: none;
    }

    .media-video-large {
        display: flex;
    }

    .media-video {
        width: 1000px;
    }

    .news-feed {
        margin-top: 45px;
    }

    .our-team-content {
        flex-direction: row;
    }

    .our-team-text-column {
        width: 85%;
    }

    .our-team-content .our-team-text-img {
        display: none;
    }

    .our-team-image-column {
        display: unset;
        padding: 0 0 30px 0;
        width: max(160px, 15%);
    }

    .our-team-image-column img {
        width: 125px;
        padding-bottom: unset;
    }

    .text-column h1 {
        font-size: 1.5rem;
        padding-bottom: 10px;
    }

    .text-column h2 {
        font-size: 1.7rem;
    }

    .text-column h3 {
        font-size: 1.3rem;
    }

    .text-column p, .unordered-list p {
        font-size: 1.2rem;
    }

    .text-column h4 {
        font-size: 1.9rem;
    }

    .contact-us-link {
        padding: 140px 0 180px 0;
    }

    .contact {
        padding: 80px 0 80px 0;
    }

    .contact .contact-link {
        margin-bottom: 0;
    }

    .contact .contact-link h6 {
        margin-bottom: 32px;
    }

    .contact .message {
        margin-bottom: 0;
    }

    .recent-block .share-block {
        max-width: 60%;
        margin: 0 auto;
    }

    .contact-text {
        margin-left: 3rem;
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {

    .navbar {
        width: 90%;
    }

    .content-block {
        width: 70%;
        max-width: 1000px;
    }

    .contact {
        padding: 100px 0 120px 0;
    }

    .banner-history {
        min-height: 375px;
    }
}

